<!--<div cdkDropListGroup>
  <div class="done-assignments"
       cdkDropList
       [cdkDropListData]="doneAssignments"
       (cdkDropListDropped)="drop($event)">
    <mat-card *ngFor="let assignment of doneAssignments;let index = index" cdkDrag>
      <span [innerHTML]="'assignment ' + index"></span>
    </mat-card>
  </div>
  <div class="on-going-assignments"
       cdkDropList
       [cdkDropListData]="onGoingAssignments"
       (cdkDropListDropped)="drop($event)">
    <mat-card *ngFor="let assignment of onGoingAssignments;let index = index" cdkDrag>
      <span [innerHTML]="'assignment ' + (index + 5)"></span>
    </mat-card>
  </div>
</div>
<ng-template #noAssignment></ng-template>-->
<ng-container *ngIf="assignmentsList$ | async as assignmentsList">
  <table mat-table [dataSource]="assignmentsList" (scroll)="onTableScroll({$event : $event})">

    <ng-container *ngIf="displayedColumns$ | async as displayedColumns">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns | slice:0 : -1">
        <th mat-header-cell *matHeaderCellDef>{{column}}</th>
        <td mat-cell *matCellDef="let item">{{getCellValue(item, column)}}</td>
      </ng-container>

      <ng-container matColumnDef="Work">
        <th mat-header-cell *matHeaderCellDef> Work</th>
        <td mat-cell *matCellDef="let item">Work</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </ng-container>
  </table>
</ng-container>
