.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.no-assignment {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.mat-row:hover {
  background-color: #4169E1;
  cursor: pointer;

  .mat-cell {
    color: white;
  }
}
