<form [formGroup]="assignmentForm" (ngSubmit)="createAssignment()" class="create-assignment-form" #formDirective="ngForm">
    <mat-form-field class="form-field">
        <mat-label>Choose a name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error>A name is required.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Choose a subject</mat-label>
        <mat-select formControlName="subject">
            <mat-option [value]="'6042befc7008e500177cc04c'">Angular JS</mat-option>
        </mat-select>
        <mat-error>A subject is required</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Choose a submission date</mat-label>
        <input matInput [min]="today" [matDatepicker]="picker" formControlName="submissionDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>A submission date is required</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field remarks">
        <mat-label>Add some remarks</mat-label>
        <textarea matInput type="textarea" formControlName="remarks"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" class="create-button" type="submit" [disabled]="!assignmentForm.valid">Create assignment</button>
</form>

