<mat-card class="horizontalCard">

  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>
      <span class="ask-for-access-label">If you don't have any account, you can request an access <a href="mailto: admin@gmail.com">here</a></span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="cardBody">
    <form [formGroup]="formGroup" (ngSubmit)="logAccount()" class="form">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Enter your email address</mat-label>
          <input matInput formControlName="account">
          <mat-error
            *ngIf="formGroup.controls['account'].invalid && formGroup.controls['account'].touched">{{getAccountError()}}</mat-error>
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="isPasswordHidden ? 'password' : 'text'" formControlName="password">
          <mat-error
            *ngIf="formGroup.controls['password'].invalid && formGroup.controls['password'].touched">{{getPasswordError()}}</mat-error>
          <button mat-icon-button matSuffix (click)="isPasswordHidden = !isPasswordHidden" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="isPasswordHidden">
            <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div id="submitDiv">
        <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
