.horizontalCard {
  display: flex;
  flex-direction: column;
  max-width: 25em;
  align-items: center;
  justify-content: center;
  margin: 10em auto;
}

.mat-card-title {
  text-align: center;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px #4169E1,
  0 1px 1px 0 #4169E1,
  0 1px 3px 0 #4169E1;
}

#submitDiv {
  justify-content: center;
  text-align: center;
}

.mat-form-field {
  width: 18em;
}
