<mat-toolbar class="toolbar" color="primary">
  <div class="left-section">
  <button mat-icon-button class="home-icon" aria-label="home icon" (click)="navigateToHomePage()">
    <mat-icon>home</mat-icon>
  </button>
  <span>Assignment Application</span>
  </div>
  <div class="right-section">
    <button *ngIf="isTeacherLogged$ | async"
            mat-icon-button
            class="manage-icon"
            aria-label="manage icon"
            (click)="navigateToTeacherPage()">
      <mat-icon>manage_accounts</mat-icon>
    </button>
    <button *ngIf="isUserLogged$ | async"
            mat-icon-button
            class="logout-icon"
            aria-label="logout icon"
            (click)="logOut()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<app-layout>
  <div header>
    <!--TODO-->
  </div>
  <div messagePanels>
    <app-message-panel class="success-message-panel" [type]="'success'"></app-message-panel>
    <app-message-panel class="error-message-panel" [type]="'error'"></app-message-panel>
  </div>
  <div mainContent>
    <router-outlet></router-outlet>
  </div>
  <div footer class="footer">
    <p>About us</p>
    <p>André DA SILVA GONCALVES</p>
    <p>Jérémy CHOISY</p>
  </div>
</app-layout>
