.toolbar {
  justify-content: space-between;

  .left-section {
    display: flex;
    align-items: center;
  }
}

.success-message-panel {
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  color: white;
  background-color: #3f51b5;
}
