.mat-card:not([class*=mat-elevation-z]) {
  color: green;
  box-shadow: 0 2px 1px -1px green,
  0 1px 1px 0 green,
  0 1px 3px 0 green;
}

.mat-card.error:not([class*=mat-elevation-z]) {
  color: red;
  box-shadow: 0 2px 1px -1px red,
  0 1px 1px 0 red,
  0 1px 3px 0 red;
}
