.schoolSubjectContainer {
  display: flex;
  justify-content: space-evenly;
}

.schoolSubject-tab-icon {
  width: 3em;
  height: auto;
  padding: 1em;
}

.tab-group {
  align-items: center;
  width: 100%;
}

:host ::ng-deep .mat-tab-body-wrapper {
  width: 100%;
}
