<div class="schoolSubjectContainer">
  <mat-tab-group class="tab-group">
    <mat-tab *ngFor="let schoolSubject of listSchoolSubject$ | async">
      <ng-template mat-tab-label>
        <img class="schoolSubject-tab-icon" src="{{schoolSubject.subjectPictureUrl}}" alt="Icon of school subject">
        <span>{{schoolSubject.name}}</span>
      </ng-template>
      <ng-template matTabContent>
        <app-school-subject [currentSchoolSubject]="schoolSubject"></app-school-subject>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
