.schoolSubjectContainer {
  display: flex;
  justify-content: space-evenly;
}

.schoolSubject-tab-icon {
  width: 3em;
  height: auto;
  padding: 1em;
}

.mat-tab-group {
  width: 80%;
  align-items: center;
}
