<mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab>
        <ng-template mat-tab-label>
            <span>Assignments</span>
        </ng-template>
        <ng-template matTabContent>
            <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onSelectedTabChange()">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Create</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <ng-container *ngIf="user$ | async as user">
                            <app-assignments-add [subjects]="user.subjects"></app-assignments-add>
                        </ng-container>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Edit">
                    <ng-template mat-tab-label>
                        <span>Edit</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <mat-tab-group *ngIf="user$ | async as user" mat-align-tabs="center" (selectedTabChange)="onSelectedTabChange()">
                            <mat-tab *ngFor="let subject of user.subjects">
                                <ng-template mat-tab-label>
                                    <div class="subject-data">
                                        <img class="subject-picture" [src]="subject.subjectPictureUrl" [alt]="subject.name + ' picture'">
                                        <span class="subject-name">{{subject.name}}</span>
                                    </div>
                                </ng-template>
                                <ng-template matTabContent>
                                    <app-root-assignments-list *ngIf="subject._id as subjectId" [subjectId]="subjectId"></app-root-assignments-list>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span>Subjects</span>
        </ng-template>
        <ng-template matTabContent>
            <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onSelectedTabChange()">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Create</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-school-subjects-add></app-school-subjects-add>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Edit</span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-school-subject-list></app-school-subject-list>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </ng-template>
    </mat-tab>
    <mat-tab label="Students">
        <ng-template mat-tab-label>
            <span>Students</span>
        </ng-template>
        <ng-template matTabContent>
            <mat-tab-group *ngIf="user$ | async as user" mat-align-tabs="center" (selectedTabChange)="onSelectedTabChange()">
                <mat-tab *ngFor="let subject of user.subjects">
                    <ng-template mat-tab-label>
                        <div class="subject-data">
                            <img class="subject-picture" [src]="subject.subjectPictureUrl" [alt]="subject.name + ' picture'">
                            <span class="subject-name">{{subject.name}}</span>
                        </div>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-student-list-by-school-subject *ngIf="subject._id as subjectId" [subjectId]="subjectId"></app-student-list-by-school-subject>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </ng-template>
    </mat-tab>
</mat-tab-group>
